.card-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.card{
    background: rgb(255, 203, 33);
    border: 1px solid;
    border-radius: 8px;
    margin-right: 15px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 15px;
    box-shadow:11px 9px 3px 1px rgb(241, 206, 90);
    transition: all .3s;
    cursor: pointer;
    
}
.card h2{
    margin-top: 0;
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
}
.card p{
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
    font-weight: 600;
}
.card a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.card a:hover{
    text-decoration: underline;
}

.card:hover{
    transform: translateY(-20px);

}

.card-container:hover .card{
    opacity: 0.5;
}

.card-container .card:hover {
    opacity: 1;
}